In [30]:
import yfinance as yf
import pandas as pd
import plotly.graph_objects as go
import warnings
import numpy as np
import os 
os.environ['KMP_DUPLICATE_LIB_OK']='True'
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
start_date = "2020-01-01"
end_date = "2020-08-01"
infy_data=yf.download("INFY",start=start_date,end=end_date)
infy_data

[*********************100%%**********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close    Volume
Date
2020-01-02  10.30  10.34  10.23  10.29   9.198476   5688000
2020-01-03  10.29  10.35  10.26  10.31   9.216356   6992200
2020-01-06  10.22  10.25  10.17  10.21   9.126963  10068900
2020-01-07  10.12  10.17  10.10  10.10   9.028631  10589100
2020-01-08  10.00  10.12   9.99  10.09   9.019691  13440400
...           ...    ...    ...    ...        ...       ...
2020-07-27  12.68  12.70  12.55  12.67  11.484728   6335100
2020-07-28  12.75  12.79  12.57  12.58  11.403147   9797300
2020-07-29  12.66  12.92  12.65  12.85  11.647888  13711300
2020-07-30  12.71  12.99  12.69  12.95  11.738535  10135600
2020-07-31  12.97  12.98  12.76  12.85  11.647888   8049700

[147 rows x 6 columns]

In [32]:
infy_data=infy_data.dropna()
infy_data

             Open   High    Low  Close  Adj Close    Volume
Date
2020-01-02  10.30  10.34  10.23  10.29   9.198476   5688000
2020-01-03  10.29  10.35  10.26  10.31   9.216356   6992200
2020-01-06  10.22  10.25  10.17  10.21   9.126963  10068900
2020-01-07  10.12  10.17  10.10  10.10   9.028631  10589100
2020-01-08  10.00  10.12   9.99  10.09   9.019691  13440400
...           ...    ...    ...    ...        ...       ...
2020-07-27  12.68  12.70  12.55  12.67  11.484728   6335100
2020-07-28  12.75  12.79  12.57  12.58  11.403147   9797300
2020-07-29  12.66  12.92  12.65  12.85  11.647888  13711300
2020-07-30  12.71  12.99  12.69  12.95  11.738535  10135600
2020-07-31  12.97  12.98  12.76  12.85  11.647888   8049700

[147 rows x 6 columns]

In [33]:
'''

Within each iteration of the loop, a new column named 'Close_lag' is created in the infy_data DataFrame. 
This column is populated with values from the 'Close' column, but shifted by the current lag value. 
For example, when lag is 1, 'Close_lag' will contain the 'Close' values from the previous day; when lag is 2, it will contain values 
from two days ago, and so on.
'''

for lag in range(1, 8):  # Using the past 7 days as features
    infy_data['Close_lag'] = infy_data['Close'].shift(lag)

infy_data.dropna(inplace=True)
infy_data

             Open   High    Low  Close  Adj Close    Volume  Close_lag
Date
2020-01-13  10.95  10.98  10.80  10.88   9.725893  13659600      10.29
2020-01-14  10.87  10.90  10.77  10.86   9.708014  15188300      10.31
2020-01-15  10.83  10.93  10.73  10.85   9.699075  11884300      10.21
2020-01-16  10.84  10.94  10.81  10.85   9.699075   8511200      10.10
2020-01-17  10.84  10.92  10.72  10.88   9.725893   6604300      10.09
...           ...    ...    ...    ...        ...       ...        ...
2020-07-27  12.68  12.70  12.55  12.67  11.484728   6335100      12.23
2020-07-28  12.75  12.79  12.57  12.58  11.403147   9797300      12.27
2020-07-29  12.66  12.92  12.65  12.85  11.647888  13711300      12.58
2020-07-30  12.71  12.99  12.69  12.95  11.738535  10135600      12.49
2020-07-31  12.97  12.98  12.76  12.85  11.647888   8049700      12.30

[140 rows x 7 columns]

In [34]:
infy_data=infy_data.drop('Close',axis='columns')
infy_data

             Open   High    Low  Adj Close    Volume  Close_lag
Date
2020-01-13  10.95  10.98  10.80   9.725893  13659600      10.29
2020-01-14  10.87  10.90  10.77   9.708014  15188300      10.31
2020-01-15  10.83  10.93  10.73   9.699075  11884300      10.21
2020-01-16  10.84  10.94  10.81   9.699075   8511200      10.10
2020-01-17  10.84  10.92  10.72   9.725893   6604300      10.09
...           ...    ...    ...        ...       ...        ...
2020-07-27  12.68  12.70  12.55  11.484728   6335100      12.23
2020-07-28  12.75  12.79  12.57  11.403147   9797300      12.27
2020-07-29  12.66  12.92  12.65  11.647888  13711300      12.58
2020-07-30  12.71  12.99  12.69  11.738535  10135600      12.49
2020-07-31  12.97  12.98  12.76  11.647888   8049700      12.30

[140 rows x 6 columns]

In [35]:
import xgboost as xgb

In [36]:
start_date = "2020-08-02"
end_date = "2021-02-23"
infy_next=yf.download("INFY",start=start_date,end=end_date)
infy_next

[*********************100%%**********************]  1 of 1 completed

                 Open       High    Low      Close  Adj Close    Volume
Date
2020-08-03  12.790000  12.970000  12.71  12.920000  11.711341   8779600
2020-08-04  12.750000  12.750000  12.60  12.640000  11.457537   9241900
2020-08-05  12.680000  12.730000  12.60  12.650000  11.466599   9359800
2020-08-06  12.890000  12.940000  12.73  12.830000  11.629760   9597900
2020-08-07  12.690000  12.740000  12.54  12.600000  11.421276  10051700
...               ...        ...    ...        ...        ...       ...
2021-02-16  17.830000  17.900000  17.66  17.750000  16.263252   5857800
2021-02-17  17.620001  17.719999  17.48  17.600000  16.125816   8422200
2021-02-18  17.680000  17.830000  17.59  17.830000  16.336555  12267700
2021-02-19  17.860001  17.990000  17.85  17.940001  16.437338   8937800
2021-02-22  17.530001  17.680000  17.50  17.610001  16.134981  10941900

[140 rows x 6 columns]

In [37]:
y=infy_next['Close']
y=pd.DataFrame(y)
y_train=y.rename(columns={0:'Close'})
y_train.columns

Index(['Close'], dtype='object')